<launch>

  <arg name="start_hydra" default="true" />
  <arg name="rviz_args" value="-d $(find pr2_surrogate)/config/pr2_teleop.rviz" />
  <arg name="razer_pos" value="1.2 0 -0.3" />
  <arg name="audio" default="false"/>

  <include if="$(arg start_hydra)" file="$(find razer_hydra)/launch/hydra.launch">
    <arg name="publish_tf" value="true"/>
    <arg name="polling_ms" value="30"/>
  </include>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" required="true" 
        respawn="false" output="screen" args="$(arg rviz_args)">
  </node>

  <group if="$(arg audio)">
    <node name="desktop_audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
      <param name="bitrate" value="40"/>
      <remap from="audio" to="desktop_audio"/>
    </node>
  
    <node name="pr2_audio_play" pkg="audio_play" type="audio_play" output="screen">
      <param name="dst" value="alsasink"/>
      <remap from="audio" to="pr2_audio"/>
    </node>
  </group>

  <node pkg="tf" type="static_transform_publisher" name="hydra_to_robot_tf_pub" 
        args="$(arg razer_pos) 0 0 0 1 torso_lift_link hydra_base 30"/>
 
</launch>
