<launch>

  <arg name="period" default="0.02" />
  <arg name="start_hydra" default="true" />
  <arg name="device" default="hydra" />
  <arg name="radius" default="2.0" />
  
  <include if="$(arg start_hydra)" file="$(find razer_hydra)/launch/hydra.launch" />

  <arg name="command_args" value="-d $(find pr2_surrogate)/config/pr2_teleop.rviz" />
  
  <node name="$(anon rviz)" pkg="rviz" type="rviz" required="true" 
        respawn="false" output="screen" args="$(arg command_args)">
  </node>
  
</launch>
