<launch>

  <remap from="joy" to="hydra_joy" />

  <include file="$(find pr2_teleop)/teleop_joystick.launch"/>

  <include file="$(find pr2_surrogate)/launch/head_pointer.launch"/>

  <include file="$(find pr2_surrogate)/launch/cart_controllers.launch"/>

  <include file="$(find pr2_surrogate)/launch/arm_mover.launch">
    <arg name="command_topic" value="l_arm_cart_controller/command"/>
    <arg name="tracked_frame" value="hydra_left_pivot"/>
  </include>

  <include file="$(find pr2_surrogate)/launch/arm_mover.launch">
    <arg name="command_topic" value="r_arm_cart_controller/command"/>
    <arg name="tracked_frame" value="hydra_right_pivot"/>
  </include>

  <node name="pr2_audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="bitrate" value="40"/>
    <remap from="audio" to="pr2_audio"/>
  </node>

  <node name="desktop_audio_play" pkg="audio_play" type="audio_play" output="screen">
    <param name="dst" value="alsasink"/>
    <remap from="audio" to="desktop_audio"/>
  </node>

</launch>
